name: Build and test

on:
    pull_request:
        branches:
            - main

jobs:
    build-docker-file:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                architectures:
                    - linux/amd64
        steps:
            - name: Set up CD
              uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
            - name: Set up Docker Qemu
              uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3.6.0
            - name: Setup Docker Buildx
              uses: docker/setup-buildx-action@b5ca514318bd6ebac0fb2aedd5d36ec1b5c232a2 # v3.10.0
            - name: Build and push
              uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
              with:
                  context: .
                  file: ./Dockerfile
                  platforms: ${{ matrix.architectures }}
                  push: false
