name: Build and test

on:
    pull_request:
        branches:
            - main

jobs:
    build-docker-file:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                architectures:
                    - linux/amd64
        steps:
            - name: Set up CD
              uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
            - name: Set up Docker Qemu
              uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3.6.0
            - name: Setup Docker Buildx
              uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
            - name: Build and push
              uses: docker/build-push-action@471d1dc4e07e5cdedd4c2171150001c434f0b7a4 # v6.15.0
              with:
                  context: .
                  file: ./Dockerfile
                  platforms: ${{ matrix.architectures }}
                  push: false
