name: Build and test

on:
    pull_request:
        branches:
            - main

jobs:
    build-docker-file:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                architectures:
                    - linux/amd64
        steps:
            - name: Set up CD
              uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
            - name: Set up Docker Qemu
              uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
            - name: Setup Docker Buildx
              uses: docker/setup-buildx-action@b5ca514318bd6ebac0fb2aedd5d36ec1b5c232a2 # v3.10.0
            - name: Build and push
              uses: docker/build-push-action@471d1dc4e07e5cdedd4c2171150001c434f0b7a4 # v6.15.0
              with:
                  context: .
                  file: ./Dockerfile
                  platforms: ${{ matrix.architectures }}
                  push: false
